@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sl-font-size-2x-small: theme('fontSize.2xs');
    --sl-font-size-x-small: theme('fontSize.xs');
    --sl-font-size-small: theme('fontSize.sm');
    --sl-font-size-medium: theme('fontSize.base');
    --sl-font-size-large: theme('fontSize.lg');
    --sl-font-size-x-large: theme('fontSize.xl');
    --sl-font-size-2x-large: theme('fontSize.2xl');
    --sl-font-size-3x-large: theme('fontSize.3xl');
    --sl-font-size-4x-large: theme('fontSize.4xl');

    --sl-spacing-3x-small: theme('spacing.1');
    --sl-spacing-2x-small: theme('spacing.2');
    --sl-spacing-x-small: theme('spacing.3');
    --sl-spacing-small: theme('spacing.4');
    --sl-spacing-medium: theme('spacing.5');
    --sl-spacing-large: theme('spacing.6');
    --sl-spacing-x-large: theme('spacing.8');
    --sl-spacing-2x-large: theme('spacing.10');
    --sl-spacing-3x-large: theme('spacing.13');
    --sl-spacing-4x-large: theme('spacing.19');

    --sl-shadow-x-small: theme('dropShadow.sm');
    --sl-shadow-small: theme('dropShadow.md');
    --sl-shadow-medium: theme('dropShadow.lg');
    --sl-shadow-large: theme('dropShadow.xl');
    --sl-shadow-x-large: theme('dropShadow.2xl');

    --sl-border-radius-small: theme('borderRadius.sm');
    --sl-border-radius-medium: theme('borderRadius.md');
    --sl-border-radius-large: theme('borderRadius.lg');
    --sl-border-radius-x-large: theme('borderRadius.xl');
    --sl-border-radius-circle: theme('borderRadius.full');
    --sl-border-radius-pill: theme('borderRadius.pill');

    --sl-transition-x-slow: theme('transitionDuration.1000');
    --sl-transition-slow: theme('transitionDuration.500');
    --sl-transition-medium: theme('transitionDuration.300');
    --sl-transition-fast: theme('transitionDuration.150');
    --sl-transition-x-fast: theme('transitionDuration.75');
}

:root,
:host,
.sl-theme-light {
    --sl-color-primary-50: theme('colors.primary.50');
    --sl-color-primary-100: theme('colors.primary.100');
    --sl-color-primary-200: theme('colors.primary.200');
    --sl-color-primary-300: theme('colors.primary.300');
    --sl-color-primary-400: theme('colors.primary.400');
    --sl-color-primary-500: theme('colors.primary.500');
    --sl-color-primary-600: theme('colors.primary.600');
    --sl-color-primary-700: theme('colors.primary.700');
    --sl-color-primary-800: theme('colors.primary.800');
    --sl-color-primary-900: theme('colors.primary.900');
    --sl-color-primary-950: theme('colors.primary.900');

    --sl-color-success-50: theme('colors.success.50');
    --sl-color-success-100: theme('colors.success.100');
    --sl-color-success-200: theme('colors.success.200');
    --sl-color-success-300: theme('colors.success.300');
    --sl-color-success-400: theme('colors.success.400');
    --sl-color-success-500: theme('colors.success.500');
    --sl-color-success-600: theme('colors.success.600');
    --sl-color-success-700: theme('colors.success.700');
    --sl-color-success-800: theme('colors.success.800');
    --sl-color-success-900: theme('colors.success.900');
    --sl-color-success-950: theme('colors.success.900');

    --sl-color-warning-50: theme('colors.warning.50');
    --sl-color-warning-100: theme('colors.warning.100');
    --sl-color-warning-200: theme('colors.warning.200');
    --sl-color-warning-300: theme('colors.warning.300');
    --sl-color-warning-400: theme('colors.warning.400');
    --sl-color-warning-500: theme('colors.warning.500');
    --sl-color-warning-600: theme('colors.warning.600');
    --sl-color-warning-700: theme('colors.warning.700');
    --sl-color-warning-800: theme('colors.warning.800');
    --sl-color-warning-900: theme('colors.warning.900');
    --sl-color-warning-950: theme('colors.warning.900');

    --sl-color-danger-50: theme('colors.danger.50');
    --sl-color-danger-100: theme('colors.danger.100');
    --sl-color-danger-200: theme('colors.danger.200');
    --sl-color-danger-300: theme('colors.danger.300');
    --sl-color-danger-400: theme('colors.danger.400');
    --sl-color-danger-500: theme('colors.danger.500');
    --sl-color-danger-600: theme('colors.danger.600');
    --sl-color-danger-700: theme('colors.danger.700');
    --sl-color-danger-800: theme('colors.danger.800');
    --sl-color-danger-900: theme('colors.danger.900');
    --sl-color-danger-950: theme('colors.danger.900');

    --sl-color-neutral-50: theme('colors.neutral.50');
    --sl-color-neutral-100: theme('colors.neutral.100');
    --sl-color-neutral-200: theme('colors.neutral.200');
    --sl-color-neutral-300: theme('colors.neutral.300');
    --sl-color-neutral-400: theme('colors.neutral.400');
    --sl-color-neutral-500: theme('colors.neutral.500');
    --sl-color-neutral-600: theme('colors.neutral.600');
    --sl-color-neutral-700: theme('colors.neutral.700');
    --sl-color-neutral-800: theme('colors.neutral.800');
    --sl-color-neutral-900: theme('colors.neutral.900');
    --sl-color-neutral-950: theme('colors.neutral.900');

    --sl-color-neutral-0: theme('colors.neutral.0');
    --sl-color-neutral-1000: theme('colors.neutral.1000');
}


:root,
:host,
.sl-theme-dark {
    --sl-color-primary-50: theme('colors.primary.900');
    --sl-color-primary-100: theme('colors.primary.900');
    --sl-color-primary-200: theme('colors.primary.800');
    --sl-color-primary-300: theme('colors.primary.700');
    --sl-color-primary-400: theme('colors.primary.600');
    --sl-color-primary-500: theme('colors.primary.500');
    --sl-color-primary-600: theme('colors.primary.400');
    --sl-color-primary-700: theme('colors.primary.300');
    --sl-color-primary-800: theme('colors.primary.200');
    --sl-color-primary-900: theme('colors.primary.100');
    --sl-color-primary-950: theme('colors.primary.50');

    --sl-color-success-50: theme('colors.success.900');
    --sl-color-success-100: theme('colors.success.900');
    --sl-color-success-200: theme('colors.success.800');
    --sl-color-success-300: theme('colors.success.700');
    --sl-color-success-400: theme('colors.success.600');
    --sl-color-success-500: theme('colors.success.500');
    --sl-color-success-600: theme('colors.success.400');
    --sl-color-success-700: theme('colors.success.300');
    --sl-color-success-800: theme('colors.success.200');
    --sl-color-success-900: theme('colors.success.100');
    --sl-color-success-950: theme('colors.success.50');

    --sl-color-warning-50: theme('colors.warning.900');
    --sl-color-warning-100: theme('colors.warning.900');
    --sl-color-warning-200: theme('colors.warning.800');
    --sl-color-warning-300: theme('colors.warning.700');
    --sl-color-warning-400: theme('colors.warning.600');
    --sl-color-warning-500: theme('colors.warning.500');
    --sl-color-warning-600: theme('colors.warning.400');
    --sl-color-warning-700: theme('colors.warning.300');
    --sl-color-warning-800: theme('colors.warning.200');
    --sl-color-warning-900: theme('colors.warning.100');
    --sl-color-warning-950: theme('colors.warning.50');

    --sl-color-danger-50: theme('colors.danger.900');
    --sl-color-danger-100: theme('colors.danger.900');
    --sl-color-danger-200: theme('colors.danger.800');
    --sl-color-danger-300: theme('colors.danger.700');
    --sl-color-danger-400: theme('colors.danger.600');
    --sl-color-danger-500: theme('colors.danger.500');
    --sl-color-danger-600: theme('colors.danger.400');
    --sl-color-danger-700: theme('colors.danger.300');
    --sl-color-danger-800: theme('colors.danger.200');
    --sl-color-danger-900: theme('colors.danger.100');
    --sl-color-danger-950: theme('colors.danger.50');

    --sl-color-neutral-50: theme('colors.neutral.900');
    --sl-color-neutral-100: theme('colors.neutral.900');
    --sl-color-neutral-200: theme('colors.neutral.800');
    --sl-color-neutral-300: theme('colors.neutral.700');
    --sl-color-neutral-400: theme('colors.neutral.600');
    --sl-color-neutral-500: theme('colors.neutral.500');
    --sl-color-neutral-600: theme('colors.neutral.400');
    --sl-color-neutral-700: theme('colors.neutral.300');
    --sl-color-neutral-800: theme('colors.neutral.200');
    --sl-color-neutral-900: theme('colors.neutral.100');
    --sl-color-neutral-950: theme('colors.neutral.50');

    --sl-color-neutral-0: theme('colors.neutral.1000');
    --sl-color-neutral-1000: theme('colors.neutral.0');
}